.div{
    /* margin: 5rem; */
    position: absolute;
    z-index: 9;
    top: 5rem;
    cursor: pointer;
    display: inline;
    background-color: orange;
    width: 222px;
    height: 111px;
    transition: all 1s ease;
    transform: rotateY(360);
}

.div:hover{
    background-color: red;
    transition: all 1s ease;

    transform: rotateY(360);
}

