.productos{
    position: relative;
    height: 100vh;
    width: 100%;
}

.nave {
  position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;

  transition: all 15s ease;
  /* filter: blur(11px); */
  transform: scale(133%) ;
  
}

.nave :hover{
  transition: all 15s ease;

  transform: scale(88%) ;
  filter: blur(5px);
}

.parrafo{
    color: red;
    position: absolute;
    top: 4rem;
    margin: 3rem
}